@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #0A2540;
  --color-secondary: #6B7280;
  --color-accent: #d4a53c;
  --color-background: #ffffff;
  --color-surface: #f3f4f6;
  --color-text: #111827;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

@utility custom-container {
  width: 80%;
  margin-inline: auto;
}